@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Log exceptions</h2>
        <button onclick="generateError()">Throw new error</button>
    </div>
    <div class="col-md-3">
        <h2>Breadcrumbs</h2>
        <button onclick="addBreadcrumb()">Add breadcrumb</button>
    </div>
</div>
